---
import { Image, getImage } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Back from "@components/Back.astro";
import Tapes from '@components/Tapes.astro';

import map1 from "@assets/vendors/map1.png";
import mapAD from "@assets/vendors/vendor-ad.png";

import { vendors, vendors_AD, Artist_Alley } from "@components/VendorData.astro" // Store vendor list here (or do it properly with json endpoint)
import VendorModal from '@components/VendorModal.astro'; // Reusable modal

const iconDefault = "https://fair-filer.marefair.org/2025/vendors/icon.webp";

import ToAD from "@assets/vendors/matinee_neon.png";
import ToVE from "@assets/vendors/soiree_neon.png";

import paperRaw from "@assets/misc/textured-paper.png"
const paper = await getImage({ src: paperRaw, format:"avif", width: 500});
---

<Layout title="Vendors | Mare Fair 2025">
    <Back />

    <!-- AFTERDARK SWITCH -->
    <div id="scroll-top" class="fixed top-6 right-6 z-1000 sm:w-20 sm:h-20 w-10 h-10 z-50">
        <a href="#afterdark" aria-label="To Afterdark" id="to-afterdark">
            <Image format="avif" src={ToVE} alt="Back to top" class="switch-button" width={170} />
        </a>
        <a href="#main" aria-label="To Vendor" id="to-main" >
            <Image format="avif" src={ToAD} alt="Back to top" class="switch-button" width={170} />
        </a>
    </div>

    <div id="afterdark" class="overflow-hidden hidden">
        <input type="radio" name="vendor-AD-toggle" id="default-vendor-AD-toggle" class="hidden" checked/>
        <VendorModal vendors={vendors_AD} iconDefault={iconDefault} prefix="vendor" map_prefix="-AD" isArtistAlley={false}/>

        <div id="vendor-list" style={`--paper-bg: url('${paper.src}')`} class="fixed paper lg:top-0 lg:right-0 bottom-0 right-1/2 lg:translate-x-0 translate-x-1/2 lg:w-[35%] w-[90%] lg:max-h-[85vh] max-h-[25vh] h-fit lg:m-10 m-0 mb-14 bg-white rounded-xl shadow-[0_0_15px_5px] shadow-black/50 reddit-sans overflow-y-auto z-20">
            <ol class="list-decimal list-inside p-[5%] lg:columns-2 md:columns-3 columns-2 gap-8">
                {vendors_AD.map((vendor, ) => (
                    <li class="break-inside-avoid">
                        <label for={`${vendor.name.replace(/\s+/g, '')}-AD-highlight`} class="highlight-trigger hover:underline cursor-pointer"> {vendor.name} </label>
                    </li>
                ))}
            </ol>
            <center class="pb-5">
                <p class="font-bold text-2xl pb-1">OPERATING HOURS </p>
                <p> <strong>Friday: </strong> 9:30PM - 12:30AM </p>
                <p> <strong>Saturday: </strong> 9:30PM - 11:30PM </p>
                <p> <strong>Sunday: </strong> 10:30AM - 5:00PM </p>
                <p class="text-stone-600">Sponsors are let in extra 30 minutes early. </p>
            </center>
        </div>

        <div id="afterdark-wrapper" class="p-3 my-5">
            <div class="lg:ml-auto lg:mr-[40%] mx-auto w-fit max-w-[100vw] relative z-10">
                <Tapes/>
                <Image src={mapAD} format="avif" alt="venue map" style={`--paper-bg: url('${paper.src}')`} class="pointer-events-none paper shadow-xl shadow-black/50 rounded-xl overflow-hidden"/>

                <label for={`default-AD-highlight`} class="absolute top-0 w-full h-full opacity-0 bg-opacity-0"/> {/* The default label has to be on top so it wouldn't be affected by highlighting */}
                <input type="radio" name="vendor-AD-highlight" id="default-AD-highlight" class="hidden" checked/> {/* For + label to work, it has to be right above it */}
                {vendors_AD.map((vendor) => (
                <input type="radio" name="vendor-AD-highlight" id={`${vendor.name.replace(/\s+/g, '')}-AD-highlight`} class="hidden" />
                <label id={`${vendor.name.replace(/\s+/g, '')}-AD-map`} for={`${vendor.name.replace(/\s+/g, '')}-AD-toggle`} class="highlight bg-black bg-opacity-0 hover:bg-opacity-20 cursor-pointer absolute tooltip-trigger transition-all duration-300"
                    style={`
                        width: ${vendor.w};
                        height: ${vendor.h};
                        top: ${vendor.t};
                        left: ${vendor.l};`
                    }>
                    <span class="tooltip !text-xl">{vendor.name}</span>
                </label>
                ))}
            </div>
        </div>
    </div>

    <div id="main" class="overflow-hidden">
        <input type="radio" name="vendor-toggle" id="default-vendor-toggle" class="hidden" checked/>
        <VendorModal vendors={vendors} iconDefault={iconDefault} prefix="vendor" map_prefix="" isArtistAlley={false}/>

        <VendorModal vendors={Artist_Alley} iconDefault={iconDefault} prefix="vendor" map_prefix="" isArtistAlley={true}/> {/* Reuse the same system to show full artist modal */}

        <input type="radio" name="vendor-toggle" id={`Artist-Alley-toggle`} class="hidden" />
        <div id="Artist-Alley" class="fixed w-screen h-screen z-30 opacity-0 pointer-events-none bg-black bg-opacity-60 reddit-sans transition-[opacity,backdrop-filter] duration-200">
            <label for="default-vendor-toggle" class="absolute inset-0 w-full h-full cursor-pointer"/> {/* default-vendor-toggle because it's in the vendor tab */}
            <div class="absolute-centered bg-white w-[40rem] max-w-[100vw] min-h-[25rem] h-auto rounded-xl p-10 shadow-xl shadow-black/30 flex flex-col justify-between">
                <input type="radio" name="Artist-Alley-toggle" id="Artist-Alley-default-toggle" class="hidden" checked/>

                {/* ARTIST ALLEY MASTER MODAL */}
                <div id="Artist-Alley-Modal" class="grid grid-cols-[repeat(auto-fit,minmax(100px,1fr))] gap-4">

                    {Artist_Alley.map((vendor) => (
                        <label for={`${vendor.name.replace(/\s+/g, '')}-toggle`} class="flex justify-center relative tooltip-trigger cursor-pointer">
                            {vendor.icon ? (
                                <Image src={vendor.icon} format="avif" alt={`${vendor.name} icon`} width="100" class="shadow-md shadow-black/30"/>
                            ) : vendor['icon-src'] && vendor['icon-src'].length > 0 ? (
                                <img src={vendor['icon-src']} alt={`${vendor.name} icon`} width="100" class="shadow-md shadow-black/30"/>
                            ) : (
                                <img src={iconDefault} alt={`${vendor.name} icon`} width="100" class="shadow-md shadow-black/30 pixelated-img"/>
                            )}
                            <span class="tooltip !text-xl">{vendor.name}</span>
                        </label>
                    ))}
                </div>

                <div class="flex mt-4">

                </div>
            </div>
        </div>

        <div id="vendor-list" style={`--paper-bg: url('${paper.src}')`} class="fixed paper lg:top-0 lg:right-0 bottom-0 right-1/2 lg:translate-x-0 translate-x-1/2 lg:w-[35%] w-[90%] lg:max-h-[85vh] max-h-[25vh] h-fit lg:m-10 m-0 mb-14 bg-white rounded-xl shadow-[0_0_15px_5px] shadow-black/50 reddit-sans overflow-y-auto z-20">
            {/*<center class="strong text-4xl lg:p-10 p-8 pb-0"> SELECT A VENDOR </center>*/}
            <div class="flex justify-center flex-wrap max-w-xs mx-auto sm:max-w-none sm:flex-row sm:space-x-4 gap-2 sm:gap-0 py-5">
                <div id="legend-general" class="items-center flex space-x-2 w-[calc(50%-0.5rem)] sm:w-auto">
                    <div class="bg-lime-500 w-4 h-4"></div>
                    <div>
                        General Merch
                    </div>
                </div>
                <div id="legend-plush" class="items-center flex space-x-2 w-[calc(50%-0.5rem)] sm:w-auto">
                    <div class="bg-cyan-500 w-4 h-4"></div>
                    <div>
                        Plush
                    </div>
                </div>
                <div id="legend-charity" class="items-center flex space-x-2 w-[calc(50%-0.5rem)] sm:w-auto">
                    <div class="bg-amber-300 w-4 h-4"></div>
                    <div>
                        Charity
                    </div>
                </div>
                <div id="legend-craft" class="items-center flex space-x-2 w-[calc(50%-0.5rem)] sm:w-auto">
                    <div class="bg-violet-600 w-4 h-4"></div>
                    <div>
                        Crafts
                    </div>
                </div>
            </div>
            <ol class="list-decimal list-inside p-[5%] lg:columns-2 md:columns-3 columns-2 gap-8 pt-0">
                {vendors.map((vendor, ) => (
                    <li class="break-inside-avoid">
                        <label for={`${vendor.name.replace(/\s+/g, '')}-highlight`} class="highlight-trigger hover:underline cursor-pointer"> {vendor.name} </label>
                    </li>
                ))}
            </ol>
            <center class="pb-5">
                <p class="font-bold text-2xl pb-1">OPERATING HOURS </p>
                <p> <strong>Friday: </strong> 11:30AM - 6:00PM </p>
                <p> <strong>Saturday: </strong> 10:30AM - 12:00PM, 1:30PM - 6:00PM </p>
                <p> <strong>Sunday: </strong> 10:30AM - 5:00PM </p>
                <p class="text-stone-600">High tier sponsors get in 30 minutes earlier. </p>
            </center>
        </div>

        <div id="vendor-map-wrapper" class="p-3 my-5">
            <div class="lg:ml-auto lg:mr-[40%] mx-auto w-fit max-w-[100vw] relative z-10">
                <Tapes/>
                <Image format="avif" src={map1} alt="venue map" style={`--paper-bg: url('${paper.src}')`} class="pointer-events-none paper shadow-xl shadow-black/50 rounded-xl overflow-hidden"/>

                <label for={`default-highlight`} class="absolute top-0 w-full h-full opacity-0 bg-opacity-0"/> {/* The default label has to be on top so it wouldn't be affected by highlighting */}
                <input type="radio" name="vendor-highlight" id="default-highlight" class="hidden" checked/> {/* For + label to work, it has to be right above it */}
                {vendors.map((vendor, ) => (
                <input type="radio" name="vendor-highlight" id={`${vendor.name.replace(/\s+/g, '')}-highlight`} class="hidden" />
                <label id={`${vendor.name.replace(/\s+/g, '')}-map`} for={`${vendor.name.replace(/\s+/g, '')}-toggle`} class="highlight bg-black bg-opacity-0 hover:bg-opacity-20 cursor-pointer absolute tooltip-trigger transition-all duration-300"
                    style={`
                        width: ${vendor.w};
                        height: ${vendor.h};
                        top: ${vendor.t};
                        left: ${vendor.l};`
                    }>
                    <span class="tooltip !text-xl">{vendor.name}</span>
                </label>
                ))}
                {/* ARTIST ALLEY */}
                <input type="radio" name="vendor-highlight" id="Artist-Alley-highlight" class="hidden" />
                <label id={`Artist-Alley-map`} for={`Artist-Alley-toggle`} class="highlight bg-black bg-opacity-0 hover:bg-opacity-20 cursor-pointer absolute tooltip-trigger transition-all duration-300"
                    style={`
                        width: 11.7%;
                        height: 24.7%;
                        top: 70.4%;
                        left: 6%;`
                    }>
                    <span class="tooltip !text-xl"> Artist Alley </span>
                </label>
            </div>
        </div>
    </div>
    <div id="footer-space-extra" class="lg:h-0 h-[30vh] w-full"/>
</Layout>

<style is:global> /* Get rid of the global footer just for this */
    #footer-space {
        display: none;
    }

    input[type="radio"][name="vendor-toggle"]:checked + div {
        @apply opacity-100 pointer-events-auto backdrop-blur-sm transition-[opacity,backdrop-filter] duration-200;
    }
    input[type="radio"][name="vendor-AD-toggle"]:checked + div {
        @apply opacity-100 pointer-events-auto backdrop-blur-sm transition-[opacity,backdrop-filter] duration-200;
    }

    .tooltip {
        @apply absolute -bottom-6 left-1/2 -translate-x-1/2 pointer-events-none
        bg-gray-800/80 text-white text-xs rounded py-1 px-2 whitespace-nowrap z-10 opacity-0 transition-opacity;
    }

    .tooltip-trigger:hover .tooltip {
        @apply opacity-100;
    }
</style>

<style>
    .switch-button{
        @apply h-full object-cover pointer-events-none bg-black/90 rounded-[24px] border-4 border-black p-2;
    }
    #to-afterdark {
        @apply block;
    }
    #to-main {
        @apply hidden;
    }
    /* Target the buttons when afterdark is active */
    body:has(#afterdark:target) #to-afterdark {
        @apply hidden;
    }
    body:has(#afterdark:target) #to-main {
        @apply block;
    }

    #afterdark:target ~ #main {
        @apply hidden;
    }
    #afterdark:target {
        @apply block;
    }

    .paper {
        background-image: var(--paper-bg);
        background-color: antiquewhite;
    }

    .absolute-centered{
        @apply absolute left-1/2 top-1/2 transform -translate-y-1/2 -translate-x-1/2;
    }

    /* Highlight vendor */
    /*
    .highlight:target {
        @apply bg-blue-500 bg-opacity-30 border-2 border-blue-400;
        animation: highlight-pulse 1s ease-in-out;
    }
    */

    input[type="radio"][name="vendor-highlight"]:checked + label {
        @apply bg-blue-500 bg-opacity-30 border-4 border-red-400;
        animation: highlight-pulse 1s ease-in-out infinite;
    }
    input[type="radio"][name="vendor-AD-highlight"]:checked + label {
        @apply bg-blue-500 bg-opacity-30 border-4 border-red-400;
        animation: highlight-pulse 1s ease-in-out infinite;
    }

    @keyframes highlight-pulse {
        0% {
            opacity: 1;
            transform: scale(1);
        }
        50% {
            opacity: 1;
            transform: scale(1.2);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    /* Experimental, will try to fit the target div center of the screen when selected*/
    /*
    [id] {
        scroll-margin-top: 50vh;
    }
    */

    .pixelated-img {
        image-rendering: pixelated
    }
</style>

<script>
    // radio button doesn't have the equivalence of scroll-margin-top, script will do.
    function eventScrollHandler(queryName: string, highlightSuffix: string, mapSuffix: string)
    {
        const vendorRadios = document.querySelectorAll(queryName);

        //console.log('Found vendor radios:', vendorRadios.length);

        vendorRadios.forEach(radio => {
            radio.addEventListener('change', function(event) {
                const target = event.currentTarget as HTMLInputElement;

                if (target.checked) {
                    // Get the corresponding label using the radio button's ID
                    const labelId = target.id.replace(highlightSuffix, mapSuffix);
                    const targetLabel = document.getElementById(labelId);

                    //console.log(labelId);

                    if (targetLabel) {
                        // Get the label's position and dimensions
                        const labelRect = targetLabel.getBoundingClientRect();
                        const viewportHeight = window.innerHeight;

                        // Calculate the center of the label
                        const labelCenterY = labelRect.top + labelRect.height / 2;

                        // Calculate scroll position to center the label
                        const scrollY = window.scrollY + labelCenterY - viewportHeight / 2;

                        // Smooth scroll to the calculated position
                        window.scrollTo({
                            top: Math.max(0, scrollY),
                            behavior: 'smooth'
                        });
                    }
                }
            });
        });
    }

    function initializeEventHandlers() {
        eventScrollHandler('input[name="vendor-highlight"]:not(#default-highlight)', '-highlight', '-map');
        eventScrollHandler('input[name="vendor-AD-highlight"]:not(#default-AD-highlight)', '-highlight', '-map');
    }

    document.addEventListener('astro:page-load', initializeEventHandlers);

    if (document.readyState !== 'loading') {
        initializeEventHandlers();
    }
</script>